javascript:
  const page_title    = "About"; 
  const page_about    = "About";
  const page_message  = "「人と人を繋ぐゲームデザイン」をモットーに日々ゲーム制作に力を入れているゲームデザインサークルです。";
  const products = #{{@products.to_json}};
  const members = #{{@members.to_json}};

= javascript_pack_tag 'template'
= javascript_pack_tag 'product'
= javascript_pack_tag 'member'