javascript:
  var page_title    = "About"; 
  var page_about    = "About";
  var page_message  = "「人と人を繋ぐゲームデザイン」をモットーに日々ゲーム制作に力を入れているゲームデザインサークルです。";
  var products = #{{@products.to_json}};
  var members = #{{@members.to_json}};

= javascript_pack_tag 'template'
= javascript_pack_tag 'product'
= javascript_pack_tag 'member'