<title>GAMELINKS</title>

<h1>About</h1>
<h2>「人と人を繋ぐゲームデザイン」をモットーに<br>日々ゲーム制作に力を入れているゲームデザインサークルです。<br><br>
​
現在、ノベルゲームエンジン「LINKS」と「LINKS on Ruby」を<br>GitHubにてオープンソフトソフトウェアとしてリリース！<br><br>

DXlib + C/C++<br>
<a href = "https://github.com/S-H-GAMELINKS/Novel.Game.Engine.LINKS">
https://github.com/S-H-GAMELINKS/Novel.Game.Engine.LINKS
</a><br><br>

DXRuby + Ruby<br>
<a href = "https://github.com/S-H-GAMELINKS/Novel.Game.Engine.LINKS.on.Ruby">
https://github.com/S-H-GAMELINKS/Novel.Game.Engine.LINKS.on.Ruby
</a><br><br>
</h2>

<hr>

<h1>Team</h1>
<h2>
    <l>S.H.</l><br><br><br>

    <l>主な担当</l><br><br><br>

    ゲームデザイン・プログラマー<br>
    シナリオライター・広報他<br>
    あと、ゲームリンクス代表を務めています。<br><br><br>

    <l>主な制作物</l><br><br><br>

    ノベルゲームエンジン「ＬＩＮＫＳ」<br>
    ノベルゲームエンジン​「LINKS」on Ruby<br>
    黒い男lite(原案・原作など)<br>
​    山村に響く（原案）<br>
​    琥珀の意味(原案・原作など）<br>
    VENDETTA(原案・原作など)<br><br><br><br><br>

    <l>朝紀</l><br><br><br>

    <l>主な担当</l><br><br><br>

    シナリオライター<br><br><br>

    <l>主な制作物<span><br><br><br>

    花言葉<br>
    ビタースウィート<br>
​    これもひとつの愛の形<br>
​    山村に響く（編集）<br>
​    琥珀の意味（編集・校正）<br>
    VENDETTA(編集・校正など)<br><br><br><br><br>


    <l>クボタ</l><br><br><br>

    <l>主な担当</l><br><br><br>

    シナリオライター<br>​<br><br>

    <l>主な制作物</l><br><br><br>

    異能学園ボランティア部<br>
    ​山村に響く（原作）<br>
​    琥珀の意味（編集・校正）<br>
    VENDETTA(編集・校正など)<br><br><br><br><br>

</h2>