javascript:
  var page_title    = "BrowserGame"; 
  var page_about    = "BrowserGame";
  var page_message  = "ブラウザで遊べるゲームです。クリックすると外部サイトに移動します。";
  var browsers = #{{@browsers.to_json}};

= javascript_pack_tag 'template'
= javascript_pack_tag 'browser'