<h1>BrowserGame</h1>

<div style="text-align:center">

<h2><l>ブラウザで遊べるゲームです。<br>クリックすると外部サイトに移動します</l></h2>

<hr>

<l><h2>花言葉</h2></l>
<a herf = "https://www.novelchan.wgt.jp/16737/">
<%= button_tag "play" %>
</a>
<br><br><br><br>

<l><h2>ビタースウィート</h2></l>
<a href = "https://www.novelchan.wgt.jp/17388/">
<%= button_tag "play" %>
</a>
<br><br><br><br>

<l><h2>これもひとつの愛の形</h2></l>
<a href = "https://www.novelchan.wgt.jp/17775/">
<%= button_tag "play" %>
</a>
<br><br><br><br>

<l><h2>山村に響く</h2></l>
<a href = "https://www.novelchan.wgt.jp/21187/">
<%= button_tag "play" %>
</a>
<br>

</div>