<title>GAMELINKS</title>

<h1>Link</h1>

<div style="text-align:center">

<br><br><br>
<a href ="http://dxlib.o.oo7.jp/ ">
<%= image_tag 'banner2.gif'%>
</a><br><br>

ゲームリンクスで使用させて頂いている「ＤＸライブラリ」の公式ページです<br><br><br><br>

<a href ="http://www.iwami-ict.net/">
<%= image_tag 'image.png'%>
</a><br><br>

島根県西部のＩＣＴコミュニティです。<br>
ＩＣＴを活用したイベントやコミュニティを通じてのＩＴ技術者の交流などをされています。<br>
ときたまウチの代表が紛れ込んでます。<br>

</div>